{{define "page"}}
<div class="py-12 flex flex-grow justify-center">
  <div class="px-8 py-8 bg-gray-100 rounded">
    <h1 class="pt-4 pb-8 text-center text-xl font-bold text-gray-900">Hello</h1>
  </div>
</div>
{{end}}
