<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    {{template "scripts" .}}
    <link href="/static/tailwind.css" rel="stylesheet" />
    <!-- ... -->
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="bg-gradient-to-b from-stone-300 to-gray-100">
      <nav class="px-6 py-8 flex justify-between items-center">
        <div class="basis-1/6"></div>
        <div class="text-4xl font-satisfy text-center basis-5/6">
          Wrestic BRW
        </div>
        <div class="basis-1/6 h-4/5 text-right">
          {{if currentUser}}
          <form action="/signout" method="post" class="inline pr-4">
            <div class="hidden">{{csrfField}}</div>
            <button
              type="submit"
              class="text-stone-600 hover:text-stone-800 hover:underline"
            >
              Sign out
            </button>
          </form>
          {{end}}
        </div>
      </nav>
    </header>
    {{template "page" .}}
    <!-- ... -->
    <footer class="text-center py-8">
      <p>© 2023 Min-Haw, Liu</p>
    </footer>
  </body>
</html>
