<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/tailwind.css" rel="stylesheet" />
    <!-- ... -->
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <!-- <header class="bg-gradient-to-r from-blue-400 to-green-400"> -->
    <header class="bg-gradient-to-b from-stone-300 to-gray-100">
      <nav class="px-8 py-8 flex justify-center items-center">
        <div class="text-4xl font-satisfy">Wrestic BRW</div>
      </nav>
    </header>
    {{template "page" .}}
    <!-- ... -->
    <footer class="text-center py-8">
      <p>© 2023 Min-Haw, Liu</p>
    </footer>
  </body>
</html>
